@use '../base/theme';

.btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;

  background: linear-gradient(145deg, #ffffff, #e3e3e3);
  box-shadow: 4px 4px 10px #aaaaaa,
  inset -2px -2px 4px #d1d1d1,
  inset 2px 2px 4px rgba(209, 209, 209, 0.20);

  /* Text styling */
  color: #333333;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

@each $name,$color in theme.$theme-colors {
  .btn-#{$name}{
    background: linear-gradient(145deg, #ffffff, $color);
    color: white;
  }
}
